<li id="post-<%= post._id %>">
    <p>
        <!-- if user is signed in and the user who is signed in is same as user who created the post -->
        <% if(locals.user && locals.user.id == post.user.id){%>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
        </small>
        <%}%>
        <%= post.content %>
        <br>
        <small>
            <%= post.user.name %>
        </small>
    </p>
    <div class="post-comments">
        <!-- if user is present or logged in then only show the form -->
        <% if(locals.user){ %>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type Here to add a comment..." required>

                <!-- the id of the post to which comment needs to be added -->
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            
            </form>
            
            
        <%}%>
        <div class="post-comments-list">
            <ul id="post-comments-<%=post._id %>">
                <% for(comment of post.comments){%>
                   
                    <%- include('_comment') -%>
                    
                    
                <%}%>
            </ul>
        </div>

    </div>
    
</li>